* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.container {
	z-index: 2;
	display: block;
	text-align: center;
}

#gong {
	height: 100%;
}

.cheer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;

	-webkit-transition: 0.2s opacity ease;
	-moz-transition: 0.2s opacity ease;
	-o-transition: 0.2s opacity ease;
	transition: 0.2s opacity ease;
}

.cheer-text {
	font-size: 60px;
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}

.cheer.showing {
	opacity: 1;
	-webkit-transition: 0.2s opacity ease;
	-moz-transition: 0.2s opacity ease;
	-o-transition: 0.2s opacity ease;
	transition: 0.2s opacity ease;
}